:root {
    --white: #ffffff;
    --pale-white: #dbdbdb;
    --grey: #e1e1e1;
    --light-grey: #d7dcde;
    --dark-grey: #b4b9bb;
    --grey-peace: #eeeeee;
    --grey-hover: #dfdfdf;
    --grey-active: #d5d5d5;
    --gray: #a6a6a6;
    --red: #fb565a;
    --red-hover: #e74246;
    --red-active: #d7373b;
    --rosy: #fb565a;
    --green: #00ca74;
    --green-hover: #00bc6c;
    --green-active: #00aa62;
    --yellow: #efc849;
    --yellow-hover: #eab534;
    --yellow-active: #e5a722;
    --black: #000000;
}

@font-face {
    font-family: "Roboto";
    font-weight: 400; 
    font-style: normal;
    src: local("Roboto"),
       url("fonts/Roboto-Regular.woff2") format("woff2"),
       url("fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: local("Roboto"),
      url("fonts/Roboto-Medium.woff2") format("woff2"),
      url("font/Roboto-Medium.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: local("Roboto"),
      url("fonts/Roboto-Bold.woff2") format("woff2"),
      url("fonts/Roboto-Bold.woff") format("woff");
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.slider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.goods__list {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    column-gap: 40px;
}

.info__block {
    display: grid;
    grid-template-columns: 8fr 4fr;
    column-gap: 40px;
}

.client__link {
    opacity: 0.2;    
}

.client__link:hover {
    opacity: 1;
}

.map {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer {
    display: grid;
    grid-template-columns: 4fr 8fr;
    column-gap: 40px;
}

.social__link {
    background: var(--grey);
    padding: 10px;
    border-radius: 50%;
}

.modal-windows__close {
    float: right;
}

.main__filter {
    display: grid;
    grid-template-columns: 3fr 8fr;
    column-gap: 140px;
}

.catalog__criterion {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
}

.sample-project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 40px;
}

.sample-project__picture-top {
    opacity: 0.12;
}

.sample-project__info {
    background-color: var(--grey-peace);  
}